[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django-tastypie = "*"
gunicorn = "*"
whitenoise = "*"
django = "==2.2.24"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
